/*Positioning*/
.center{
    width: 70%;
    margin: 20px auto;
}

/*Text Styles*/
.emphasized{
    font-weight:900;
    font-size:20px;
}

/*Design styles*/
.padding{
    padding: 16px !important;
}
.flex-rows{
    display: flex;
    flex-direction: column;
}

/*Component Styles*/
.header{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.MuiSelect-select{
    padding-right:70px;
}