html{
    height:100%;
    width:100%
}
body{
    margin:0 !important;
    height:inherit;
    width:inherit;
}
#root{
    height:inherit;
    width:inherit;
}





/*Positioning*/
@media (min-width:769px){
    .center{
        width: 50%;
        margin: 20px auto;
    }
    .fullwidth{
        width:90%;
        margin:20px auto;
    }
}

@media (max-width:769px){
    .padding-1{
        padding:1em;
    }
}


/*Text Styles*/
.emphasized{
    font-weight:900;
    font-size:20px;
}

/*Design styles*/
.padding{
    padding: 16px !important;
}
.flex-cols{
    display: flex;
    flex-direction: column;
}

.flex-rows{
    display: flex;
    flex-direction: row;
}
.flex-1{
    flex:1 1 0px;
}
.flex-2{
    flex:2 1 0px;
}
.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.justify-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.valign-center{
    align-items:center;
}
.valign-start{
    align-items:flex-start;
}
.no-margin-left{
    margin-left:0px !important;
}
.left-indent20{
    padding-left: 20px;
}
.margin-left-1{
    margin-left:1em !important;
}
.margin-top-2{
    margin-top: 2em !important;
}
.margin-bottom-1{
    margin-bottom:1em;
}
.margin-top-half{
    margin-top: 0.5em !important;
}
.margin-top-1{
    margin-top: 1em !important;
}
.width80{
    width:80% !important;
}
.width60{
    width:60% !important;
}
.underline{
    border-bottom: 2px solid black;
}
.underline-primary{
    text-align: center;
    font-size: 24px;
    border-bottom: 4px solid #303f9f;
    max-width: max-content;
    margin: 0 auto;
}
.active{
    border-bottom: 2px solid white;
}
#circular-progress{
    display: none;
}



/*Component Styles*/
.header{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.MuiSelect-select{
    padding-right:70px;
}
.MuiAccordionDetails-root{
    flex-direction: column;
}

.__json-pretty__{
    margin: 0px;
    padding: 20px;
}

#json-pretty-preview-dialog .MuiDialogContent-root{
    padding:0px;
}

.MuiDialog-paperWidthSm{
    min-width: 400px;
}